.highslide{display: none;}
.all_1{display: block;}
@media screen and (orientation: landscape) { 
    .highslide{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: black;
        z-index: 100;
        color: white;
    }
    .all_1{
        display: none;
    }
  }
  *{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
  }
  #section_1 {
    border-width: 2px;
    border-color: rgb( 255, 225, 0 );
    border-style: solid;
    background-color: rgb( 255, 255, 255 );
    position: absolute;
    left: 23%;
    top: 35%;
    width: 54vw;
    height: 33vw;
    z-index: 45;
  }
  #elips_1 {
    border-radius: 50%;
    background-color: rgb( 255, 225, 0 );
    position: absolute;
    left: 39%;
    top: 30%;
    width: 23vw;
    height: 23vw;
    z-index: 46;
}



/****************************************************************/
#section_2 {
    border-width: 2px;
    border-color: rgb( 255, 225, 0 );
    border-style: solid;
    background-color: rgb( 255, 255, 255 );
    position: absolute;
    left: 23%;
    top: 67%;
    width: 54vw;
    height: 33vw;
    z-index: 45;
  }
  #elips_2 {
    border-radius: 50%;
    background-color: rgb( 255, 225, 0 );
    position: absolute;
    left: 39%;
    top: 62%;
    width: 23vw;
    height: 23vw;
    z-index: 46;
}
/****************************************************************/
#section_3 {
    border-width: 2px;
    border-color: rgb( 255, 225, 0 );
    border-style: solid;
    background-color: rgb( 255, 255, 255 );
    position: absolute;
    left: 23%;
    top: 99%;
    width: 54vw;
    height: 33vw;
    z-index: 45;
  }
  #elips_3 {
    border-radius: 50%;
    background-color: rgb( 255, 225, 0 );
    position: absolute;
    left: 39%;
    top: 94%;
    width: 23vw;
    height: 23vw;
    z-index: 46;
}
/****************************************************************/
#section_4 {
    border-width: 2px;
    border-color: rgb( 255, 225, 0 );
    border-style: solid;
    background-color: rgb( 255, 255, 255 );
    position: absolute;
    left: 23%;
    top: 131%;
    width: 54vw;
    height: 33vw;
    z-index: 45;
  }
  #elips_4 {
    border-radius: 50%;
    background-color: rgb( 255, 225, 0 );
    position: absolute;
    left: 39%;
    top: 125%;
    width: 23vw;
    height: 23vw;
    z-index: 46;
}
/**********************************************************/
#slider_border {
    border-style: solid;
    border-width: 15px;
    border-color: rgb( 241, 241, 241 );
    background-color: rgb( 241, 241, 241 );
    position: absolute;
    left: 16.5vw;
    top: 175vh;
    width: 60vw;
    height: 60vw;
    z-index: 84;
}

#selested_slider_1 {
    border-width: 1px;
    border-color: rgb( 255, 255, 255 );
    border-style: solid;
    border-radius: 50%;
    opacity: 0.302;
    position: absolute;
    left: 22.8vw;
    top: 219vh;
    width: 5.5vw;
    height: 5.5vw;
    z-index: 123;
  }
  
#slide_1 {
    display: block;
    border-style: solid;
    border-width: 15px;
    border-color: rgb( 241, 241, 241 );
    background-color: rgb( 241, 241, 241 );
    position: absolute;
    left: 16.5vw;
    top: 175vh;
    width: 60vw;
    height: 60vw;
    z-index: 84;
}
#slide_2 {
    display: none;
    border-style: solid;
    border-width: 15px;
    border-color: rgb( 241, 241, 241 );
    background-color: rgb( 241, 241, 241 );
    position: absolute;
    left: 16.5vw;
    top: 175vh;
    width: 60vw;
    height: 60vw;
    z-index: 84;
}
#slide_3 {
    display: none;
    border-style: solid;
    border-width: 15px;
    border-color: rgb( 241, 241, 241 );
    background-color: rgb( 241, 241, 241 );
    position: absolute;
    left: 16.5vw;
    top: 175vh;
    width: 60vw;
    height: 60vw;
    z-index: 84;
}
#slide_4 {
    display: none;
    border-style: solid;
    border-width: 15px;
    border-color: rgb( 241, 241, 241 );
    background-color: rgb( 241, 241, 241 );
    position: absolute;
    left: 16.5vw;
    top: 175vh;
    width: 60vw;
    height: 60vw;
    z-index: 84;
}
#slide_5 {
    display: none;
    border-style: solid;
    border-width: 15px;
    border-color: rgb( 241, 241, 241 );
    background-color: rgb( 241, 241, 241 );
    position: absolute;
    left: 16.5vw;
    top: 175vh;
    width: 60vw;
    height: 60vw;
    z-index: 84;
}
#slide_6 {
    display: none;
    border-style: solid;
    border-width: 15px;
    border-color: rgb( 241, 241, 241 );
    background-color: rgb( 241, 241, 241 );
    position: absolute;
    left: 16.5vw;
    top: 175vh;
    width: 60vw;
    height: 60vw;
    z-index: 84;
}
#slider_elips_1 {
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    left: 25vw;
    top: 220vh;
    width: 2vw;
    height: 2vw;
    z-index: 126;
}
#slider_elips_2 {
    border-radius: 50%;
    background-color: rgb( 241, 241, 241 );
    position: absolute;
    left: 35vw;
    top: 220vh;
    width: 2vw;
    height: 2vw;
    z-index: 126;
}
#slider_elips_3 {
    border-radius: 50%;
    background-color: rgb( 241, 241, 241 );
    position: absolute;
    left: 45vw;
    top: 220vh;
    width: 2vw;
    height: 2vw;
    z-index: 126;
}
#slider_elips_4 {
    border-radius: 50%;
    background-color: rgb( 241, 241, 241 );
    position: absolute;
    left: 55vw;
    top: 220vh;
    width: 2vw;
    height: 2vw;
    z-index: 126;
}
#slider_elips_5 {
    border-radius: 50%;
    background-color: rgb( 241, 241, 241 );
    position: absolute;
    left: 65vw;
    top: 220vh;
    width: 2vw;
    height: 2vw;
    z-index: 126;
}
#slider_elips_6 {
    border-radius: 50%;
    background-color: rgb( 241, 241, 241 );
    position: absolute;
    left: 75vw;
    top: 220vh;
    width: 2vw;
    height: 2vw;
    z-index: 126;
}
#slider_info_1 {
    font-size: 16px;
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    line-height: 1.375;
    position: absolute;
    left: 17vw;
    top: 210vh;
    width: 69vw;
    height: 3vh;
    z-index: 115;
    text-align: center;
}
  