   *{
       Margin:0;
       padding:0;
   }
   header{
    width: 100%;
    background: rgb(7, 0, 39);
    height: 110px;
    top:100px;
   }

   .content-box {
    top:0px;
    box-sizing: content-box;
    width: 70%;
    height: 100%;
    margin: 10px 15% 0 15%;
    background-color: #00000000;
  }